body > header {
    border-top: .4em solid $color-accent;
    color: $color-header;

    h1::before {
        display:block; content:''; float:left;
        width:2.25rem; height:2.25rem;
        background: url($url-logo);
        background-size:100% 100%;
    }

    .utilityBar {
        position:absolute; right:10px; top:10px;

        nav { float:right; margin-right:1em; }
    }

    .menuLinks {
        background: $color-content-background;
        border: 1px solid $color-border-modal;
        box-shadow: 0 0 1em 0 $color-shadow;
        padding: .5em 0;

        a {
            padding: .5em 1em;

            &:hover {
                background: $color-header;
                color: $color-content-background;
            }
        }
    }
}

#nav1 {
    overflow:auto;
    border-top: .4em solid $color-accent;
    border-bottom:2px solid $color-accent;

    a {
        color: $color-nav1;
        display: block;
        float: left;
        margin: 0 .5em .4em 0;
        padding: .5em .75em;
    }
}

