/**
 * Urls are relative to screen.css
 */
$url-logo: "../images/logo.svg";
$url-header-background: "";

$serif: serif;
$sans:  sans-serif;

// Fonts
$font-family-default: $sans;
$font-family-heading: $sans;
$font-family-nav:     $sans;
$font-weight-heading: 700;

$font-size-base: 100%; // 16px in most browser defaults

$font-size-huge:    36px;
$font-size-biggest: 27px;
$font-size-bigger:  24px;
$font-size-big:     19px;
$font-size-normal:  14px;
$font-size-small:   12px;


@import 'color-palette';
// Foreground colors
$color-text-default:       $mine-shaft;
$color-text-secondary:     $silver-chalice;
$color-link:               $biscay;
$color-heading:            $mine-shaft;
$color-divider:            $silver;

// Background colors
$color-content-background:  $white;
$color-selected-background: $havelock-blue;

$color-nav1:                $biscay;
$color-header:              $biscay;
$color-header-border:       $azure;
$color-footer:              $dark-slate;
$color-error:               $sunglo;
$color-alert:               $california;
$color-action:              $fern;
$color-action-hover:        $deyork;
$color-accent:              $red;

// Special widget colors
$color-background-field:           $sail;
$color-background-field-highlight: $gin-fizz;
$color-border-input:               $silver-chalice;
$color-border-input-highlight:     $mine-shaft;
$color-border-table:               $wafer;

$color-table-background:           $gainsboro;
$color-table-background-alt:       $silver;
$color-table-header-background:    $biscay;

$color-shadow: rgba(0, 0, 0, 0.5);

$viewport-small:   (350px);
$viewport-medium:  (640px);
$viewport-large:  (1080px);

$size-gutter: 4px;
