<div id="panel-one" class="panel">
    {% block panelone %}
    {% endblock %}
    
    {{ include('layouts/partials/panel-widgets/Administrator_menu.html.twig')  }}
    {{ include('layouts/partials/panel-widgets/User_menu.html.twig')  }}
</div>
