<form method="post" action="{{ uri('login.login') }}">
	<fieldset><legend>{{ _('login') }}</legend>
		<input name="return_url" type="hidden" value="{{ return_url }}" />


		<button type="submit" class="login">{{ _('login') }}</button>
	</fieldset>
</form>
