/**
 * City of Bloomington Theme
 *
 * This stylesheet extends the default Factory Number One CSS.
 * @see https://github.com/City-of-Bloomington/factory-number-one
 *
 * To use this stylesheet, make sure to include a link to the factory-number-one
 * stylesheet in the template head.
 *
 * This CSS should only include properties that are not include in fn1.
 */
@import 'modules/vars.scss';
@import 'modules/header.scss';
@import 'modules/table.scss';

footer {
    background-color: $color-background-footer; color: $color-heading-1;
    margin-top: ($size-gutter*2);
    padding: $size-gutter;
    font-size: $font-size-small;
}
fieldset { border:none; }

main {
    padding-left: $size-gutter;

    .dropdown .launcher {
        background-color:$color-calltoaction-background;
        border-bottom: .25em solid $color-calltoaction-border;
        color: $color-content-background;
    }
}

.pageNavigation          { margin: $size-gutter; }
.pageNavigation li       { display:inline; margin: $size-gutter; }
a.current { border:2px solid $color-calltoaction-background; }

@media print {
    body { font-size:10pt; }
    main { padding:0; }

    body > header,
    body > footer,
    .dropdown {
        display:none;
    }
}
