<?php
/**
 * @copyright 2020 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 */
declare (strict_types=1);

define('APPLICATION_NAME', 'blossom');

/**
 * URL Generation settings
 *
 * Do NOT use trailing slashes
 *
 * If your site is being proxied, change BASE_HOST to the hostname
 * used for the outside world.
 */
define('BASE_URI' , '/blossom');
#define('BASE_HOST', isset($_SERVER['HTTP_X_FORWARDED_HOST'])
#                        ? $_SERVER['HTTP_X_FORWARDED_HOST']
#                        : $_SERVER['SERVER_NAME']);
define('BASE_HOST', $_SERVER['SERVER_NAME']);
define('BASE_URL' , "$_SERVER[REQUEST_SCHEME]://".BASE_HOST.BASE_URI);

/**
 * Specify the theme directory
 *
 * Remember to create a symbolic link in public/css to the theme CSS
 * that you declare here.
 *
 * A theme can consist of templates, blocks which will override core.
 * The current theme's screen.css will be included in the HTML head.
 */
define('THEME', 'COB');

/**
 * Database Setup
 */
$DATABASES = [
    'default' => [
        'driver' => 'mysql',
        'host'   => 'localhost',
        'name'   => 'blossom',
        'user'   => 'blossom',
        'pass'   => 'secret password',
        'opts'   => []
    ]
];

/**
 * Ldap Configuration
 *
 * This supports doing user authentication from multiple external
 * directories, such as LDAP or ADS. This is required since city staff
 * are in a seperate LDAP directory from public user accounts.
 * Classes that implement AuthenticationInterface should have an entry here.
 *
 * @see Domain\Auth
 */
$LDAP = [
  'Employee' => [
      'classname'          => 'Site\Employee',
      'server'             => 'ldaps://ldap.example.org:636',
      'base_dn'            => 'DC=ldap,DC=example,DC=org',
      'username_attribute' => 'sAMAccountName',
      'user_binding'       => '{username}@bldap.example.org',
      'admin_binding'      => 'admin@ldap.example.org',
      'admin_pass'         => 'secret password'
  ]
];

$AUTHENTICATION = [
    'cas' => [
        'host' => 'example.org',
        'uri'  => 'cas'
    ],
    'oidc' => [
        'server'         => 'example.org',
        'client_id'      => '',
        'client_secret'  => '',
        'username_claim' => 'adfs1upn'
    ]
];

define('DATE_FORMAT',    'n/j/Y');
define('TIME_FORMAT',    'g:i a');
define('DATETIME_FORMAT', DATE_FORMAT.' '.TIME_FORMAT);
define('LOCALE', 'en_US');

define('PAGINATION_ITEMS_PER_PAGE', 20);


/**
 * Graylog is a centralized log manager
 *
 * This application supports sending errors and exceptions to a graylog instance.
 * This is handy for notifying developers of a problem before users notice.
 ** @see https://graylog.org
 */
define('GRAYLOG_DOMAIN', 'graylog.example.org');
define('GRAYLOG_PORT',   12200);
